ion-header {
	position: absolute;
}

ion-content {
	ion-card {
		--ion-background-color: transparent;
		box-shadow: none;
		ion-card-header {
			ion-card-title {
				margin-top: 40px;
				font-size: 25px;
				text-align: center;
				color: #53565a;
			}
			ion-card-subtitle {
				padding-top: 15px;
				font-size: 15px;
				color: #898585;
				text-align: center;
			}
		}
		ion-card-content {
			.wrap-form {
				margin-top: 70px;
				form {
					ion-input {
						color: #647b9d;
						font-family: 'Montserrat', sans-serif;
					}
					.warning {
						color: #eb445a;
						font-size: 12px;
						margin-top: 5px;
					}
				}
				.signin-btn-wrap {
					margin-top: 125px;
					text-align: center;
					color: #f0f4fa;
					.login-btn {
						--ion-color-primary: #215ab7;
					}
				}
			}
		}
	}
}

ion-item {
	ion-input {
		color: #647b9d;
		font-family: 'Montserrat', sans-serif;
	}
}
