<ion-header class="ion-no-border">
	<ion-buttons slot="start">
		<ion-back-button defaultHref="/auth/login" text=""></ion-back-button>
	</ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-card class="ion-no-margin">
		<ion-card-header>
			<ion-card-title>Forgot Password</ion-card-title>
			<ion-card-subtitle> Enter your email here to reset your password </ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<div class="wrap-form">
				<form [formGroup]="forgotForm">
					<ion-item class="item" class="ion-no-padding">
						<ion-icon name="mail" slot="end"></ion-icon>
						<ion-input formControlName="email" inputmode="email" label="Email" labelPlacement="floating"> </ion-input>
					</ion-item>
					<div *ngIf="this.forgotForm.get('email')?.touched && this.forgotForm.get('email')?.errors?.['required']" class="warning">Email field is required</div>
					<div *ngIf="this.forgotForm.get('email')?.touched && this.forgotForm.get('email')?.errors?.['email']" class="warning">Email format is incorrect</div>
				</form>

				<div class="signin-btn-wrap">
					<ion-button [disabled]="this.forgotForm.invalid" fill="solid" shape="round" class="login-btn">reset</ion-button>
				</div>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
