<ion-header class="ion-no-border">
	<ion-buttons>
		<ion-back-button defaultHref="/auth" text=""></ion-back-button>
	</ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-card class="ion-no-margin">
		<ion-img src="assets/images/header1.png"></ion-img>
		<ion-card-content>
			<div class="wrap-form">
				<form [formGroup]="loginForm">
					<ion-input [clearInput]="true" helperText="Enter a valid email" errorText="Invalid email" inputmode="email" formControlName="email" label="Email" type="email" labelPlacement="floating" placeholder="Email"></ion-input>
					<ion-input errorText="Invalid password" inputmode="password" formControlName="password" label="Password" type="password" labelPlacement="floating" placeholder="Password"></ion-input>
				</form>
				<!-- TESTING TO SEE WITH IONIC GITHUB ISSUE -->
				<!-- <form [formGroup]="loginForm">
					<ion-item class="item" class="ion-no-padding">
						<ion-icon name="mail" slot="end"></ion-icon>
						<ion-input formControlName="email" inputmode="email" label="Email" labelPlacement="floating"> </ion-input>
					</ion-item>
					<div *ngIf="this.loginForm.get('email')?.touched && this.loginForm.get('email')?.errors?.['required']" class="warning">Email field is required</div>
					<div *ngIf="this.loginForm.get('email')?.touched && this.loginForm.get('email')?.errors?.['email']" class="warning">Email format is incorrect</div>
					<ion-item class="item" class="ion-no-padding">
						<ion-icon name="lock-closed" slot="end"></ion-icon>
						<ion-input formControlName="password" inputmode="password" label="Password" labelPlacement="floating" type="password"> </ion-input>
					</ion-item>
					<div *ngIf="this.loginForm.get('password')?.touched && this.loginForm.get('password')?.errors?.['required']" class="warning">Password field is required</div>
				</form> -->

				<div class="password-forgot">
					<ion-button routerLink="/auth/forgot-password" fill="clear" class="ion-no-padding">Forgot Password?</ion-button>
				</div>

				<div class="signin-btn-wrap">
					<!-- <ion-button (click)="onSubmit()" [disabled]="this.loginForm.invalid" fill="solid" shape="round" class="login-btn">Login</ion-button> -->
					<ion-button (click)="onSubmit()" fill="solid" shape="round" class="login-btn">Login</ion-button>
				</div>

				<div class="social-content">
					<div class="text-tag">
						<span>Or via Social Media</span>
					</div>
					<ion-button fill="clear" class="facebook-btn ion-no-padding">
						<ion-img src="assets/images/facebook.png"></ion-img>
					</ion-button>
					<ion-button fill="clear" class="google-btn ion-no-padding">
						<ion-img src="assets/images/google.png"></ion-img>
					</ion-button>
					<ion-button fill="clear" class="apple-btn ion-no-padding">
						<ion-img src="assets/images/apple.png"></ion-img>
					</ion-button>
				</div>
			</div>
		</ion-card-content>
	</ion-card>
	<div class="ion-footer">
		<div>Don't have an account?</div>
		<ion-button routerLink="/signup" fill="clear" class="ion-no padding">Sign up</ion-button>
	</div>
</ion-content>
